Tumbler.Addin/.vs/Tumbler.Addin/v14/.suo
Tumbler.Addin/Tumbler.Addin.Test/bin/
Tumbler.Addin/Tumbler.Addin.Test/obj/
Tumbler.Addin/Tumbler.Addin.Wpf.Test/obj/
Tumbler.Addin/Tumbler.Addin.Core/obj/
Tumbler.Addin/Tumbler.Addin.Core/bin/
Tumbler.Addin/Tumbler.Addin.Wpf.Test/bin/
~$$design.~vsdx
Tumbler.Addin/Tumbler.Addin.TestA/obj/
Tumbler.Addin/Tumbler.Addin.TestB/obj/
Tumbler.Addin/Tumbler.Addin.Wpf/bin/
Tumbler.Addin/Tumbler.Addin.Wpf/obj/
Tumbler.Addin/Tumbler.Addin.Wpf.TestA/bin/
Tumbler.Addin/Tumbler.Addin.Wpf.TestA/obj/
Tumbler.Addin/Tumbler.Addin.Wpf.TestA.Back/obj/
Tumbler.Addin/Tumbler.Addin.Wpf.TestA.Back/bin/
